.navbar{
    background-color: var(--surface-variant);

    width: 100%;
    height: 100%;
    
    box-shadow: var(--box-shadow-1);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 4px;
    gap: 2vh;
}